* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: url('/stylecast/src/components/images/tower-in-forest-digital-art-3yzduk4b01ahu06q.jpg') no-repeat; */
    background-size: cover;
    background-position: center;
}

.home {
    padding: 10px;
    border-radius: 25px;
    background: transparent;
    border: 1px solid transparent;
    font-size: xx-large;
    color: white;
    text-align: center;
}

.home:hover {
    color: black;
}

.login {
    width: 420px;
    background: rgba(255, 255, 255, 0.2); 
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: url('images/tower-in-forest-digital-art-3yzduk4b01ahu06q.jpg') center/cover no-repeat fixed;*/
    filter: blur(10px);
    z-index: -1;
}

h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid gray;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box input:focus {
    background-color: gray;
    border-color: white;
}

.signupLink {
    color: white;
    text-decoration: none;
    margin: 35px;
}

.signupLink:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: white;
    border-radius: 40px;
    border: 2px solid gray;
    cursor: pointer;
    font-size: 16px;
    color: gray;
    font-weight: bold;
    margin-bottom: 20px;
}

 .btn:hover {
    background-color: gray;
    color: white;
    border-color: white;
}